@font-face {
    font-family: 'Canela';
    src: url('/Canela Family/Canela-Regular-Trial.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Canela';
    src: url('/Canela Family/Canela-Bold-Trial.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Canela';
    src: url('/Canela Family/Canela-Light-Trial.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  /* Add more variations here if needed */
  